In [4]:
# import the library and give it a shorter name 'pd'
import pandas as pd

# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3, 4, 5, 6, 7],
        'temperatur': [-12, 3, 9, 9, 12, 15, 22]
})

# print out some descriptive statistics
df.describe()

          month  temperatur
count  7.000000    7.000000
mean   4.000000    8.285714
std    2.160247   10.703804
min    1.000000  -12.000000
25%    2.500000    6.000000
50%    4.000000    9.000000
75%    5.500000   13.500000
max    7.000000   22.000000