
1. Wie viele Merkmale besitzt der Datensatz? 15 Merkmale, entspricht aber eigentlich 13 Merkmalen, da *Notice Preference Code* und *Notice Preference Definition* sowie *Patron Type Code* und *Patron Type Definition* sich entsprechen sollten.
2. Wie groß ist die Stichprobengröße des Datensatzes? 423’448
3. Wer oder was sind die Merkmalsträger? Bibliotheksbenutzer*innen
4. Von wann bis wann wurden die Daten erhoben? 2003 - 2016
5. Wie lässt sich die Grundgesamtheit beschreiben? Handelt es sich um eine Vollerhebung? Grundgesamtheit: Alle (?) Bibliotheksbenutzer*innen, die sich zwischen 2003 und 12. Dezember 2016 in der SF Library eingeschrieben haben. Evtl. handelt es sich um eine Vollerhebung.
6. Welche Merkmale sind stetig? Welche diskret?
7. Welchem Skalenniveau entsprechen die einzelnen Merkmale (Nominal-, Ordinal- oder Metrische Skala)?

Patron Type Code: diskret, Nominalskala

Patron Type Definition: diskret, Nominalskala

Total Checkouts: stetig? (wobei es ja nur eine begrenzte Anzahl von Büchern in SF library gibt), metrisch

Total Renewals: stetig?, metrisch

Age Range: diskret, Ordinalskala

Home Library Code: diskret, Nominalskala

Home Library Definition: diskret, Nominalskala

Circulation Active Month: diskret, Ordinalskala

Circulation Active Year: diskret, metrisch

Notice Preference Code: diskret, Nominalskala

Notice Preference Definition: diskret, Nominalskala

Provided Email Address: diskret, Nominalskala

Year Patron Registered: diskret, metrisch

Outside of County: diskret, Nominalskala

Supervisor District: diskret, Nominalskala

8. Enthält der Datensatz fehlende Werte? Ja
9. Handelt es sich um Querschnitts-, Längsschnitts- oder Paneldaten? Querschnittsstudie

In [1]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage_Clean.csv")
# Datei Library_Usage_Clean.csv wurde beim Bearbeiten der Übungsaufgaben erstellt

In [2]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
3,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
4,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016,p,phone,True,2004,False,9.0

In [3]:
df["Circulation Active Year"]=pd.to_numeric ( df['Circulation Active Year'], errors='coerce')
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3         2016.0
4         2016.0
           ...
312963    2015.0
312964    2016.0
312965    2016.0
312966    2015.0
312967       NaN
Name: Circulation Active Year, Length: 312968, dtype: float64

In [4]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,NaN,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0
2,0,ADULT,0,0,25 to 34 years,X,Main Library,None,NaN,z,email,True,2015,False,3.0
3,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0
4,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016.0,p,phone,True,2004,False,9.0

In [5]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)
df['Circulation Active Month']

0               NaT
1        1900-04-01
2               NaT
3        1900-01-01
4        1900-07-01
            ...
312963   1900-03-01
312964   1900-07-01
312965   1900-07-01
312966   1900-04-01
312967          NaT
Name: Circulation Active Month, Length: 312968, dtype: datetime64[ns]

In [6]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
df['Circulation Active Month']

0         NaN
1         4.0
2         NaN
3         1.0
4         7.0
         ...
312963    3.0
312964    7.0
312965    7.0
312966    4.0
312967    NaN
Name: Circulation Active Month, Length: 312968, dtype: float64

In [7]:
df['Membership Duration'] = (
    df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']

In [8]:
df['Membership Duration'] = df['Membership Duration'].fillna(0)
df['Membership Duration']

0           0.0
1          76.0
2           0.0
3         157.0
4         151.0
          ...
312963     75.0
312964      7.0
312965     31.0
312966    148.0
312967      0.0
Name: Membership Duration, Length: 312968, dtype: float64